html, body {
  height: auto;
  width: auto;
}

.jumbotron  {
  background: url("../images/work1.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
} 

.display { 
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}

@media (min-width: 400px) {
    .display { font-size: 50px; }
}  
@media (min-width: 576px) {
    .display { font-size: 80px; }
}
@media (min-width: 768px) {
    .display { font-size: 80px; }
}
@media (min-width: 992px) {
    .display { font-size: 100px; }
}
@media (min-width: 1200px) {
    .display { font-size: 120px; }
}

.lead {
  color: #4bc5bf; }
  
@media (min-width: 400px) {
  .lead { font-size: 21px; }
}
  
@media (min-width: 576px) {
  .lead { font-size: 27px; }
}
@media (min-width: 768px) {
  .lead { font-size: 27px; }
}
@media (min-width: 992px) {
  .lead { font-size: 30px; }
}
@media (min-width: 1200px) {
  .lead { font-size: 30px; }
}

.navbar {
  background-color: transparent !important;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
  font-size: 25px;
}

.nav-link {
  color: white !important;
}

.navbar-toggler-icon {
  color: white;
}

h3 {
  text-align: center;
}

.display-3 {
  color: white;
}

.lead-2{
  color: white;
  font-size: 25px;
}

.img-fluid {
  width: 30%;
  height: 20%;
}


#main-container {
    padding-bottom: 10%;
  }

  .jumbotron {
    width: 100%;
  }
  
  h1, h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    color: #4aaaa5;
  }

  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    color: #4aaaa5; 
  }
  
  h4 {
      background-color: #4aaaa5;
      color: white;
      font-family: Georgia, 'Times New Roman', Times, serif;
      padding: 5px;
      text-align: center;
  }
  .hangman-image {
    background: none repeat scroll 0 0 #FFffff;
    margin: 0 auto;
    margin-top: -54px;
    text-align:center;
    position: relative;
    width:100%;
    margin-bottom: 10%;
  }

  .rpg-image {
    background: none repeat scroll 0 0 #FFffff;
    margin: 0 auto;
    margin-top: -54px;
    text-align:center;
    position: relative;
    width:100%;
    margin-bottom: 10%;
  }

  .trivia-image {
    background: none repeat scroll 0 0 #FFffff;
    margin: 0 auto;
    margin-top: -54px;
    text-align:center;
    position: relative;
    width:100%;
    margin-bottom: 10%;
  }

  .widget-image {
    background: none repeat scroll 0 0 #FFffff;
    margin: 0 auto;
    margin-top: -54px;
    text-align:center;
    position: relative;
    width:100%;
    margin-bottom: 10%;
  }

  .rps-image {
    background: none repeat scroll 0 0 #FFffff;
    margin: 0 auto;
    margin-top: -54px;
    text-align:center;
    position: relative;
    width:100%;
    margin-bottom: 10%;
  }
  
  h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    text-align: center;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 18px;
}

  #logo:hover,
  input[type=submit]:hover {
    background: grey;
  }
  
  .social:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  
  
  /***********************************
  HEADER
  ***********************************/
  
  
  #logo {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }
  
  
  
  /***********************************
  FOOTER
  ***********************************/
  
  #footer {
    padding: 10px 0;
    font-size: 12px;
    color:white;
    text-align: center;
    background: grey;
    border-top: 8px solid #4aaaa5;
  }
  
  
  
  /***********************************
  MAIN
  ***********************************/
  
  
  body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #777777;
    background-image: url("../images/gray_jean/gray_jean.png")
  }
  
  #main-content {
    background: white;
    margin-top: 0;
    margin-right: 0;
    margin-bottom:0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
  }
  
  #center-space {
    padding: 10px;
  }
  
  #sidebar {
    background: white;
    margin-top: 0;
    margin-right: 0;
    margin-bottom:0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
  
  #social-links {
    display: block;
    margin: auto;
  }
  
  .caption {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  /*************************************
  BONUS: FULL-WIDTH MOBILE HEADER
  *************************************/
  
  
  @media screen and (max-width: 768px) {
    #logo {
      width: 100%;
    }
    .navbar-header {
      background: white;
    }
  }
  
  
  
  /*************************************
  BONUS: LOGO ANIMATION
  *************************************/
  
  
  .slideDown{
      animation-name: slideDown;
      animation-duration: 1s;
      animation-timing-function: ease;
  }
  
  @keyframes slideDown {
      0% {
          transform: translateY(-100%);
      }
      50%{
          transform: translateY(8%);
      }
      65%{
          transform: translateY(-4%);
      }
      80%{
          transform: translateY(4%);
      }
      95%{
          transform: translateY(-2%);
      }
      100% {
          transform: translateY(0%);
      }
  }


  .w3layouts-foot ul li {
    display: inline-block;
}

.w3layouts-foot ul li a {
    width: 64px;
    height: 64px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    display: inline-block;
    font-size: 48px;
    line-height: 64px;
    border-radius: 50%;
}

a.agile_github:hover {
    background: black;
    border: 1px solid black;
}

a.agile_linkedin:hover {
    background: #1178b3;
    border: 1px solid #1178b3;
}

.loading {
    display: none;
}


}


